

body{
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* .fond{
    background-color: rgba(255, 255, 255, 0.609);
    padding-top: 2em;
} */

h1{
    margin: 0em;

}

.color{
    color:rgb(25, 25, 121);
}

.color1{
    color: white;
}

.align_center{
    text-align: center;
}

input{
    border: 0.2em solid rgb(25, 25, 121);
    padding: 0.8em;
    width: 40em;
    border-radius: 2em 0em 0em 2em ;
    background-color: white;
}

.display{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

button{
    border: rgb(25, 25, 121);
    background-color: rgb(25, 25, 121);
    padding: 0.3em;
    width: 4em;
    border-radius: 0em 2em 2em 0em ;
}

h2{
    margin-top: 0em;
    margin-right: 1em;
    font-size: 3em;
    color: rgb(25, 25, 121);
}

.cards{
    padding-left: 3em;
    width: 40em;
}

img{
    border-radius: 2em 0em 0em 2em;
}
